/* Main styles
** ========================================================================== 
**/


/*************
 *** FONTS ***
 *************/

/* Bebas Neue */
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.eot');
    src: url('../fonts/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeue-Regular.woff2') format('woff2'),
        url('../fonts/BebasNeue-Regular.woff') format('woff'),
        url('../fonts/BebasNeue-Regular.ttf') format('truetype'),
        url('../fonts/BebasNeue-Regular.svg#BebasNeue-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* TrashHand */
@font-face {
    font-family: 'TrashHand';
    src: url('../fonts/TrashHand.eot');
    src: url('../fonts/TrashHand.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TrashHand.woff2') format('woff2'),
        url('../fonts/TrashHand.woff') format('woff'),
        url('../fonts/TrashHand.ttf') format('truetype'),
        url('../fonts/TrashHand.svg#TrashHand') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
 html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */
body {
	margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */
a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */
img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */
template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
	display: none;
}



/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover, a:focus, a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	float: left;
	margin-right: 1.5em;
}

.alignright {
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.post,
.page {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}


/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
    font-family: 'Bebas Neue',sans-serif;
    font-weight: 300;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-family: 'Bebas Neue',sans-serif;
}

p {
    font-weight: 300;
    font-family: 'Bebas Neue',sans-serif;
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

strong {
    font-weight: 700;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
    /* Adhere to container width. */
    display: block;
}

figure {
	margin: 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site {
    position: relative;
}
.gp-site-header {
    position: fixed;
    top: 0;
    left: 50%;
	width: 100px;
	margin-left: -50px;
    z-index: 10;
}
.gp-site-branding {
	text-align: center;
}

/* Logo */
.custom-logo-link {
    display: inline-block;
}
.custom-logo {
    width: 59px;
    height: 57px;
    margin: 20px auto;
}


/*--------------------------------------------------------------
# Builder
--------------------------------------------------------------*/
.gp-builder .no-margin,
.gp-builder .no-margin .wp-block-columns {
    margin: 0;
}
.gp-builder p {
    font-size: 16px;
    letter-spacing: 2.29px;
    line-height: 1.18em;
    margin: 20px 0;
    position: relative;
    z-index: 2;
}


/* Image*/
.gp-builder .wp-block-image {
    margin-bottom: 0;
}
.gp-builder .image-left {
    margin-left: -10px;
}
.gp-builder .image-right {
    margin-right: -10px;
}


/* Title */
.gp-builder .title-wrapper {
    position: relative;
}
.gp-builder .title-default {
    font-size: 32px;
    font-weight: 300;
    line-height: 34px;
    letter-spacing: 2.29px;
    margin: 0;
    position: absolute;
    width: 150%;
}
.gp-builder .title-bottom .title-default {
    color: #000000;
    bottom: -40px;
    left: 36%;
}
.gp-builder .title-bottom.title-left .title-default {
    color: #000000;
    top: initial;
    bottom: 0;
    left: inherit;
    right: 33%;
    text-align: right;
	width: 160%;
	z-index: 1;
}
.gp-builder .title-top .title-default {
    color: #fff;
    top: inherit;
    left: 32%;
    bottom: calc(100% - 68px);
}
.gp-builder .title-middle .title-default {
	top: calc(35% - 54px);
	left: 40%;
}
.gp-builder .title-left.title-middle .title-default {
	top: calc(35% - 54px);
	left: inherit;
	right: 60%;
	text-align: right;
	width: 100%;
}
.gp-builder .title-no-image .title-default {
	top: 0;
	left: 0;
	bottom: 0;
	position: relative;
}
.gform_wrapper {
	position: relative;
	z-index: 1;
}
.gp-builder .title-top .title-default.has-pale-pink-color {
    color: #f78da7
}

.gp-builder .title-top .title-default.has-vivid-red-color {
    color: #cf2e2e
}

.gp-builder .title-top .title-default.has-luminous-vivid-orange-color {
    color: #ff6900
}

.gp-builder .title-top .title-default.has-luminous-vivid-amber-color {
    color: #fcb900
}

.gp-builder .title-top .title-default.has-light-green-cyan-color {
    color: #7bdcb5
}

.gp-builder .title-top .title-default.has-vivid-green-cyan-color {
    color: #00d084
}

.gp-builder .title-top .title-default.has-pale-cyan-blue-color {
    color: #8ed1fc
}

.gp-builder .title-top .title-default.has-vivid-cyan-blue-color {
    color: #0693e3
}

.has-vivid-purple-color {
    color: #9b51e0
}

.gp-builder .title-top .title-default.has-very-light-gray-color {
    color: #eee
}

.gp-builder .title-top .title-default.has-cyan-bluish-gray-color {
    color: #abb8c3
}

.gp-builder .title-top .title-default.has-very-dark-gray-color {
    color: #313131
}



/* Buttons */
.gp-button.alignright {
    margin-right: 40px;
}
.gp-button .gp-btn {
    color: #000;
    font-family: 'TrashHand';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.14px;
    background: none;
    border: 0;
    padding: 0;
    padding-left: 60px;
    position: relative;
	display: block;
	z-index: 1;
}
.gp-button .gp-btn:before {
    content: '';
    width: 53px;
    height: 13px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -8px;
    display: inline-block;
	background: url('../assets/icons/pfeil_01.svg') no-repeat top center;
}
.gp-button.btn-reverse .gp-btn:before {
	margin-top: -6px;
	transform: rotate(180deg);
}

.gp-button .gp-btn:hover:before {
	animation: anchorani 1s infinite;
}

@keyframes anchorani {
	0% {
	  	left: 0;
	}
	50% {
		left: -30px;
	}
	100% {
	  	left: 0;
	}
  }

/* Plate */
.gp-plate {
    position: relative;
    max-width: 295px;
}
.gp-plate div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 86%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.gp-plate span {
    color: #FFFFFF;
    font-family: 'TrashHand';
    font-size: 16px;
    letter-spacing: 1.14px;
    line-height: 24px;
    text-align: center;
    display: block;
}

.wp-block-group__inner-container {
    padding: 0 10px;
}

.site-footer {
	background: #000;
}
.site-footer h2 {
	color: #fff;
	font-size: 32px;
	line-height: 34px;
	font-weight: 300;
	letter-spacing: 2.29px;
}
.site-footer .textwidget {
	color: #fff;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 2.29px;
}
.site-footer .social {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.site-footer .social li {
	float: left;
	margin-right: 34px;
}
.footer-img {
	margin: 66px 0 0 0;
	max-width: 100%;
}
.clearfix::after {
	display: block;
	content: "";
	clear: both;
}
.background--dark {
	color: #fff;
}
.background--light {
	color: #000;
}
.section-1 .background--light { color: #fff; }
.section-4 .background--dark { color: #000; }
.gform_heading {
	display: none;
}

.page-template .gform_wrapper ul.gform_fields li.gfield {
	position: relative;
}
.page-template .gform_wrapper .top_label .gfield_description:not(.validation_message) {
	position: absolute;
	top: 0;
	padding: 1px 0 0;
	transition: all 200ms;
	opacity: 1;
	color: #000;
	font-size: 16px;
    font-family: 'TrashHand';
	line-height: 24px;
	letter-spacing: 1.14px;
}

.page-template .light-text .gform_wrapper .top_label .gfield_description:not(.validation_message) {
	color: #fff;
}

.page-template .gform_wrapper .top_label .gfield_description.complete {
	font-size: 75%;
	transform: translate3d(0, -100%, 0);
	opacity: 1;
}

.page-template .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
	background: transparent;
    border-bottom: 2px solid #000;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    color: #000;
    font-size: 16px;
    font-family: 'TrashHand';
	line-height: 24px;
	letter-spacing: 1.14px;
    margin: 0;
	padding: 0 0 4px 0;
	position: relative;
	z-index: 1;
	outline: 0;
}
.page-template .light-text .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    border-bottom: 2px solid #fff;
    color: #fff;
}
body.page-template .gform_wrapper .top_label div.ginput_container{
	margin-top: 25px !important;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000;
}
:-moz-placeholder { /* Firefox 18- */
  color: #000;
}

.light-text ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #fff;
}
.light-text ::-moz-placeholder { /* Firefox 19+ */
	color: #fff;
}
.light-text :-ms-input-placeholder { /* IE 10+ */
	color: #fff;
}
.light-text :-moz-placeholder { /* Firefox 18- */
	color: #fff;
}

.gform_wrapper .gform_footer{
	display: none;
}
#gform_submit_button_1 {
	visibility: hidden;
}

.page-template .gform_wrapper li.gfield.gfield_error {
	background-color: transparent;
	border-top: 0;
	padding-top: 0;
}
.page-template .gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .gform_wrapper li.gfield_error textarea {
	border-bottom: 2px solid #790000;
    border-top: none;
    border-left: none;
	border-right: none;
	padding: 0 13px;
}
.page-template .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container,
.page-template .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
	margin-top: 0;
}
.gform_wrapper .gfield_contains_required label.gfield_label {
	clip: unset;
    position: absolute;
    height: auto;
    width: auto;
    overflow: unset;
}
/* .page-template .gform_wrapper .top_label .gfield_description:not(.validation_message) {
	margin-left: 13px;
} */
input[type="checkbox"] {
	display:none;
  }
  input[type="checkbox"] + label::before {
	width: 22px;
	height: 18px;
	background-image: url("https://boolie.org/wp-content/uploads/2017/11/unchecked.png");
	display: block;
	content: "";
	float: left;
	margin-right: 5px;
  }
  input[type="checkbox"]:checked+label::before {
	background-image: url("https://boolie.org/wp-content/uploads/2017/11/checked.png");
  }
  label.gfield_consent_label {
    font-family: 'TrashHand';
    line-height: 24px;
    font-size: 24px;
    color: black;
}
.gform_wrapper .field_description_below .gfield_description {
    padding-top: 5px !important;
}
.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
	padding-bottom: 2px !important;
}
.gfield_description.validation_message {
    margin-left: 13px;
}
body .gform_wrapper ul li.gfield {
    margin-top: 24px;
}
.reverse-mobile {
    flex-direction: column-reverse; 
}

.gp-button .gp-image-link img {
	max-width: 50%;
	float: right;
}
.section-1 .wp-block-group__inner-container,
.section-2 .wp-block-group__inner-container,
.section-3 .wp-block-group__inner-container,
.section-4 .wp-block-group__inner-container {
	position: relative;
}

.trash {
	position: absolute;
}
.trash-top-left {
	position: absolute;
	top: 5px;
    left: 15px;
}
.trash-top-right {
	position: absolute;
	top: 5px;
    right: 15px;
}
.trash-top-middle {
	position: absolute;
	top: 5px;
    right: 45%;
}
.trash-bottom-left {
	position: absolute;
	bottom: 5px;
    left: 15px;
}
.trash-bottom-right {
	position: absolute;
	bottom: 5px;
    right: 15px;
}
.trash-bottom-middle {
	position: absolute;
	bottom: 5px;
    right: 45%;
}
.trash-50-left {
	position: absolute;
	bottom: 45%;
    left: 15px;
}
.trash-50-right {
	position: absolute;
	bottom: 45%;
    right: 15px;
}
.trash-50-middle {
	position: absolute;
	bottom: 45%;
    right: 45%;
}
.trash-60-left {
	position: absolute;
	bottom: 40%;
    left: 15px;
}
.trash-60-right {
	position: absolute;
	bottom: 40%;
    right: 15px;
}
.trash-60-middle {
	position: absolute;
	bottom: 40%;
    right: 45%;
}
.trash-70-left {
	position: absolute;
	bottom: 30%;
    left: 15px;
}
.trash-70-right {
	position: absolute;
	bottom: 30%;
    right: 15px;
}
.trash-70-middle {
	position: absolute;
	bottom: 30%;
    right: 45%;
}
.trash-80-left {
	position: absolute;
	bottom: 20%;
    left: 15px;
}
.trash-80-right {
	position: absolute;
	bottom: 20%;
    right: 15px;
}
.trash-80-middle {
	position: absolute;
	bottom: 20%;
    right: 45%;
}
.trash-90-left {
	position: absolute;
	bottom: 10%;
    left: 15px;
}
.trash-90-right {
	position: absolute;
	bottom: 10%;
    right: 15px;
}
.trash-90-middle {
	position: absolute;
	bottom: 10%;
    right: 45%;
}

div.entry-content > div:nth-child(1),
div.entry-content > div:nth-child(2){ 
	background-color: #ffee00;
}
div.entry-content > div:nth-child(3){ 
	background-color: #6e358c;
}
div.entry-content > div:nth-child(4){ 
	background-color: #e1277c;
}
div.entry-content > div:nth-child(5){ 
	background-color: #03daaf;
}


.section-1 .wp-block-group__inner-container .elem-1 {
	position: absolute;
    top: 815px;
    right: 49px;
    max-width: 56px;
}
.section-1 .wp-block-group__inner-container .elem-2 {
	position: absolute;
    top: 938px;
    left: 63px;
    max-width: 46px;
}
.section-1 .wp-block-group__inner-container .elem-3 {
	position: absolute;
	top: 398px;
    right: 26px;
    max-width: 70px;
}
.section-1 .wp-block-group__inner-container .elem-4 {
	position: absolute;
	    top: 509px;
    left: 18px;
    max-width: 76px;
}

.section-2 .wp-block-group__inner-container .elem-1 {
	position: absolute;
	bottom: 43px;
    left: 27px;
    max-width: 60px;
}
.section-2 .wp-block-group__inner-container .elem-2 {
	position: absolute;
  	bottom: -73px;
    right: 34px;
    max-width: 54px;
}
.section-2 .wp-block-group__inner-container .elem-3 {
	position: absolute;
	top: 5px;
    left: 3px;
    max-width: 76px;
}
.section-2 .wp-block-group__inner-container .elem-4 {
	position: absolute;
	top: 320px;
    right: 26px;
    max-width: 76px;
}

.section-3 .wp-block-group__inner-container .elem-1 {
	position: absolute;
	    bottom: -16px;
    left: -101px;
    max-width: 199px;
}
.section-3 .wp-block-group__inner-container .elem-2 {
	position: absolute;
  	bottom: 129px;
    right: 118px;
    max-width: 60px;
}
.section-3 .wp-block-group__inner-container .elem-3 {
	position: absolute;
    top: 227px;
    right: 149px;
    max-width: 63px;
}
.section-3 .wp-block-group__inner-container .elem-4 {
	position: absolute;
	bottom: -47px;
    right: 40px;
    max-width: 76px;
}
.section-4 .wp-block-group__inner-container .elem-1 {
	position: absolute;
	    top: 284px;
    right: 0px;
    max-width: 124px;
}
.section-4 .wp-block-group__inner-container .elem-2 {
	position: absolute;
  	bottom: 5px;
    right: 13px;
    max-width: 57px;
}
.section-4 .wp-block-group__inner-container .elem-3 {
	position: absolute;
	bottom: 37px;
    left: 8px;
    max-width: 70px;
}
.section-4 .wp-block-group__inner-container .elem-4 {
	position: absolute;
	top: 346px;
    left: 102px;
    max-width: 100px;
}

.site-footer span.swp_share {
	display: none;
}

.site-footer .swp_social_panel {
	height: 44px !important;
	-webkit-align-items: start;
    align-items: flex-start;
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-align: start;
    -ms-flex-line-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
	justify-content: flex-start;
	overflow: visible;
}
.site-footer div.swp_social_panel .nc_tweetContainer:not(.total_shares):not(.total_sharesalt) {
	width: 50px !important;
	height: 50px !important;
	flex: none !important;
	margin: 0 15px 3px 15px;
	overflow: visible;
}
.site-footer .swp_social_panel .iconFiller,
.site-footer span.spaceManWilly,
.site-footer .swp_social_panel .sw,
.swp_social_panel .nc_tweetContainer a.nc_tweet, 
.swp_social_panel .total_shares .swp_count {
	width: 44px !important;
	height: 44px !important;
	flex: none !important;
	margin: 0;
	transition: all .2s ease-in-out;
}

.site-footer .swp_social_panel .sw:before {
	content: '';
}

.site-footer .swp_social_panel .swp_facebook_icon {
	background: url('../images/facebook.svg') no-repeat 0 0;
}
.site-footer .swp_social_panel .swp_twitter_icon {
	background: url('../images/twitter.svg') no-repeat 0 0;
}
.site-footer .swp_social_panel .swp_whatsapp_icon {
	background: url('../images/whatsapp.svg') no-repeat 0 0;
}
.site-footer .swp_social_panel .swp_email_icon {
	background: url('../images/mail.svg') no-repeat 0 0;
}

.swp_social_panel .nc_tweetContainer a.nc_tweet:hover,
.swp_social_panel .nc_tweetContainer a.nc_tweet:focus {
	transform: scale(1.15);
}


.site-footer .swp_social_panel.swp_three_dee.swp_default_full_color .swp_email, 
html body .site-footer .swp_social_panel.swp_three_dee.swp_individual_full_color .swp_email:hover, 
body .site-footer .swp_social_panel.swp_three_dee.swp_other_full_color:hover .swp_email,
.site-footer .swp_social_panel.swp_three_dee.swp_default_full_color .swp_whatsapp, 
html body .site-footer .swp_social_panel.swp_three_dee.swp_individual_full_color .swp_whatsapp:hover, 
body .site-footer .swp_social_panel.swp_three_dee.swp_other_full_color:hover .swp_whatsapp,
.site-footer .swp_social_panel.swp_three_dee.swp_default_full_color .swp_twitter, 
html body .site-footer .swp_social_panel.swp_three_dee.swp_individual_full_color .swp_twitter:hover,
body .site-footer .swp_social_panel.swp_three_dee.swp_other_full_color:hover .swp_twitter,
.site-footer.swp_social_panel.swp_three_dee.swp_default_full_color .swp_facebook, 
html body .site-footer .swp_social_panel.swp_three_dee.swp_individual_full_color .swp_facebook:hover,
body .site-footer .swp_social_panel.swp_three_dee.swp_other_full_color:hover .swp_facebook {
	border: 0;
	background: transparent;
}


.wpml-ls-legacy-list-horizontal.wpml-ls-statics-footer {
	margin-top: -1px;
	margin-bottom: 0;
	padding: 35px 0;
	border: 0;
	background: #000;
}
.wpml-ls-legacy-list-horizontal.wpml-ls-statics-footer li {
	font-family: 'TrashHand';
	font-size: 24px;
	line-height: 24px;
	letter-spacing: 1.71px;
}

/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.slick-loading .slick-list {
    background: #fff url('../images/ajax-loader.gif') center center no-repeat;
}
.page-template .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.page-template .gform_wrapper .top_label .gfield_description:not(.validation_message) {
	padding-left: 13px;
}

/* Icons */
@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/slick.eot');
    src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick.woff') format('woff'), url('../fonts/slick.ttf') format('truetype'), url('../fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
	background: transparent;
	z-index: 1;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: 25px;
}
[dir='rtl'] .slick-prev {
    right: 25px;
    left: auto;
}
.slick-prev:before {
    content: '←';
}
[dir='rtl'] .slick-prev:before {
    content: '→';
}
.slick-next {
    right: 25px;
}
[dir='rtl'] .slick-next {
    right: auto;
    left: 25px;
}
.slick-next:before {
    content: '→';
}
[dir='rtl'] .slick-next:before {
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}
.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}

.title-middle .slick-next,
.title-middle .slick-prev {
	top: 90%;
}




body::before {
	/* never visible - this is used in jQuery to check the current MQ */
	content: 'mobile';
	display: none;
}
@media only screen and (min-width: 1050px) {
	body::before {
	  	/* never visible - this is used in jQuery to check the current MQ */
	  	content: 'desktop';
	}
}
  

  
/* -------------------------------- 

Main Components 

-------------------------------- */
@media only screen and (min-width: 1050px) {
	.refill-animated[data-hijacking="on"] {
	  overflow: hidden;
	}
	.gp-anime-footer {
		transform: translateY(20vh);
	}
	.refill-animated > .gp-animated {
		min-height: 100vh;
	}
}
  

.refill-animated > .gp-animated > div {
	max-width: 100%;
	padding: 0;
	margin: 0 auto;
}

.refill-animated .gp-animated:first-of-type > div::before {
	/* alert -> all scrolling effects are not visible on small devices */
	content: '';
	position: absolute;
	width: 100%;
	text-align: center;
	top: 20px;
	z-index: 2;
	font-weight: bold;
	font-size: 1.3rem;
	text-transform: uppercase;
	color: #6a7083;
}


@media only screen and (min-width: 1050px) {

	[data-hijacking="on"].refill-animated .gp-animated {
	  opacity: 0;
	  visibility: hidden;
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	}
	[data-hijacking="on"].refill-animated .gp-animated > div {
	  visibility: visible;
	}
	[data-hijacking="off"].refill-animated .gp-animated > div {
	  opacity: 0;
	}
	[data-animation="rotate"].refill-animated .gp-animated {
	  /* enable a 3D-space for children elements */
	  -webkit-perspective: 2800px;
	  -moz-perspective: 2800px;
	  perspective: 2800px;
	}
	[data-hijacking="on"][data-animation="rotate"].refill-animated .gp-animated:not(:first-of-type) {
	  -webkit-perspective-origin: center 0;
	  -moz-perspective-origin: center 0;
	  perspective-origin: center 0;
	}
	[data-animation="scaleDown"].refill-animated .gp-animated > div, [data-animation="gallery"].refill-animated .gp-animated > div, [data-animation="catch"].refill-animated .gp-animated > div {
	  box-shadow: 0 0 0 rgba(25, 30, 46, 0.4);
	}
	[data-animation="opacity"].refill-animated .gp-animated.visible > div {
	  z-index: 1;
	}
  }

@media only screen and (min-width: 1050px) {
	.refill-animated .gp-animated:first-of-type > div::before {
		display: none;
	}
	.refill-animated .gp-animated > div {
	  position: fixed;
	  top: 0;
	  left: 0;
	  width: 100%;
	  /* Force Hardware Acceleration */
	  -webkit-transform: translateZ(0);
	  -moz-transform: translateZ(0);
	  -ms-transform: translateZ(0);
	  -o-transform: translateZ(0);
	  transform: translateZ(0);
	  -webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
	}
	[data-hijacking="on"].refill-animated .gp-animated > div {
	  position: absolute;
	}
	[data-animation="rotate"].refill-animated .gp-animated > div {
	  -webkit-transform-origin: center bottom;
	  -moz-transform-origin: center bottom;
	  -ms-transform-origin: center bottom;
	  -o-transform-origin: center bottom;
	  transform-origin: center bottom;
	}
}
  
.hide-mobile {
	display: none;
}
.hide-desktop {
	display: block;
}


@media all and (min-width: 768px) {
	.reverse-mobile {
	    flex-direction: row; 
	}
	.gp-button .gp-image-link img {
		max-width: 100%;
		float: none;
	}
	.section-1 .wp-block-group__inner-container .elem-1 {
		position: absolute;
		top: 950px;
		right: 80px;
	}
	.section-1 .wp-block-group__inner-container .elem-2 {
		position: absolute;
	    bottom: 33px;
	    left: 180px;
	}
	.section-1 .wp-block-group__inner-container .elem-3 {
		position: absolute;
		top: 80%;
		right: 60px;
	}
	.section-1 .wp-block-group__inner-container .elem-4 {
		position: absolute;
		top: 90%;
		left: -20px;
	}

	.section-2 .wp-block-group__inner-container .elem-1 {
		position: absolute;
		bottom: -8px;
	    left: 121px;
	}
	.section-2 .wp-block-group__inner-container .elem-2 {
		position: absolute;
	  	bottom: -73px;
	    right: 150px;
	}
	.section-2 .wp-block-group__inner-container .elem-3 {
		position: absolute;
		top: 5px;
		left: 8px;
	}
	.section-2 .wp-block-group__inner-container .elem-4 {
		position: absolute;
		top: 360px;
	    right: 226px;
	}

	.section-3 .wp-block-group__inner-container .elem-1 {
		position: absolute;
		bottom: -120px;
	    left: -112px;
	}
	.section-3 .wp-block-group__inner-container .elem-2 {
		position: absolute;
	  	bottom: 52px;
	    right: 112px;
	}
	.section-3 .wp-block-group__inner-container .elem-3 {
		position: absolute;
		top: 220px;
	    right: 292px;
	}
	.section-3 .wp-block-group__inner-container .elem-4 {
		position: absolute;
		top: 134px;
	    left: 40px;
	}
	.section-4 .wp-block-group__inner-container .elem-1 {
		position: absolute;
		top: 284px;
	    right: 0;
	}
	.section-4 .wp-block-group__inner-container .elem-2 {
		position: absolute;
	  	bottom: 10px;
	    right: 102px;
	}
	.section-4 .wp-block-group__inner-container .elem-3 {
		position: absolute;
		bottom: 37px;
	    left: 100px;
	}
	.section-4 .wp-block-group__inner-container .elem-4 {
		position: absolute;
		top: 379px;
	    left: 217px;
	}
}


@media all and (max-width: 1050px) {
	.gp-button .gp-btn {
		max-width: 244px;
	}

	.gform_wrapper .field_description_below .gfield_description {
		padding-left: 13px;
	}
	label.gfield_consent_label {
		font-size: 16px;
	}
	.gfield_description.validation_message {
		margin-left: 0;
	}
    .split-column .wp-block-column {
        flex-basis: 50%!important;
        margin-left: 0;
    }
    .gp-builder .split-column .image-left,
    .gp-builder .split-column .image-right {
        max-width: calc(100% + 10px);
	}
	.wp-block-spacer {
		max-height: 100px;
	}
	.mobile-spacer-0 {
		max-height: 0;
	}
	.mobile-spacer-10 {
		max-height: 10px;
	}
	.mobile-spacer-20 {
		max-height: 20px;
	}
	.mobile-spacer-30 {
		max-height: 30px;
	}
	.mobile-spacer-40 {
		max-height: 40px;
	}
	.mobile-spacer-50 {
		max-height: 50px;
	}
	.mobile-spacer-60 {
		max-height: 60px;
	}
	.mobile-spacer-70 {
		max-height: 70px;
	}
	.mobile-spacer-80 {
		max-height: 80px;
	}
	.mobile-spacer-90 {
		max-height: 90px;
	}
	.mobile-spacer-100 {
		max-height: 100px;
	}
	.mobile-spacer-120 {
		max-height: 120px;
	}
	.site-footer div.swp_social_panel .nc_tweetContainer:not(.total_shares):not(.total_sharesalt) {
		margin: 0 12px 3px;
	}
}


@media all and (min-width: 1050px) {
	.hide-mobile {
		display: block;
	}
	.hide-desktop {
		display: none;
	}

    .custom-logo {
        width: 98px;
        height: 96px;
    }

    .wp-block-group__inner-container {
        max-width: 1050px;
        margin: 0 auto;
        padding: 0 42px 300px 42px;
	}
	.site-footer .wp-block-group__inner-container {
		padding: 0 42px 0px 42px;
	}
    .gp-builder .image-left {
        margin-left: -42px;
    }
    .gp-builder .image-right {
        margin-right: -42px;
    }

    .gp-builder p {
        font-size: 24px;
        letter-spacing: 3.43px;
        margin: 0 0 30px;
    }

	.gp-button .gp-btn {
		font-size: 24px;
		letter-spacing: 1.71px;
	}

    .gp-builder .title-default {
        font-size: 64px;
        line-height: 68px;
        letter-spacing: 4.57px;
        width: 740px;
	}
	.gp-builder .title-middle .title-default {
        top: calc(25% - 54px);
        left: 42%;
    }
    .gp-builder .title-bottom .title-default {
		top: calc(100% - 54px);
		bottom: inherit;
        left: 42%;
    }
    .gp-builder .title-bottom.title-left .title-default {
        top: calc(100% - 56px);
        left: inherit;
        right: 100%;
	}
	.gp-builder .title-left.title-middle .title-default {
        top: calc(25% - 54px);
        left: inherit;
		right: 58%;
		text-align: right;
    }
    .gp-builder .title-top .title-default {
        top: inherit;
        left: 43%;
        bottom: calc(100% - 62px);
	}

    .gp-button.alignright {
        margin-right: 0;
    }

    .gp-plate span {
        font-size: 24px;
        letter-spacing: 1.71px;
        line-height: 24px;
	}

	.page-template .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
	.page-template .gform_wrapper .top_label .gfield_description:not(.validation_message) {
		font-size: 24px;
		letter-spacing: 1.71px;
	}
	.page-template .gform_wrapper .top_label .gfield_description:not(.validation_message).complete {
		font-size: 16px;
		letter-spacing: 1.13px;
	}
	.gfield_checkbox li input {
		width: 20px !important;
		height: 20px;
		margin-top: 0;
	}
	.gfield_checkbox li input:checked {
		border: 1px solid black;
	}
	.gfield_checkbox li label {
		font-family: 'TrashHand';
		line-height: 24px;
		font-size: 24px;
    	letter-spacing: 1.71px;
	}
	
	.site-footer h2 {
		color: #fff;
		font-size: 64px;
		line-height: 68px;
		font-weight: 300;
		letter-spacing: 4.57px;
	}
	.site-footer .textwidget {
		color: #fff;
		font-size: 24px;
		line-height: 28px;
		letter-spacing: 3.43px;
	}
	
	.footer-img {
		margin: 66px auto 0 auto;
		max-width: 1080px;
	}
	.footer-img img {
		margin: 0 auto;
	}
}


@media all and (max-width: 781px) {
	.gp-button {
		position: relative;
		left: 50%;
		max-width: calc(50% + 60px);
		margin: 0;
		float: none;
		margin-left: -60px;
	}
	.gp-button.btn-reverse {
		left: 0;
		margin-left: 0;
	}
	.form-btn .gp-button {
		left: inherit;
		right: 0;
		max-width: calc(60% + 60px);
		float: right;
	}
}
@media all and (max-width: 768px) {
	#gp_button-block_5e68a18361e2b {
		position: relative;
		left: 0;
		max-width: calc(50%);
		margin: 0;
		float: none;
		margin-left: -32px;
	}
	#gp_button-block_5e68a18361e2b img {
		float: none;
	}
}

@media all and (max-width: 600px) {
	#gp_button-block_5e68a18361e2b {
		margin-left: 0px;
	}
}

@media screen and (max-height: 768px) { 
	.refill-animated .gp-animated > div {
		position: relative;
	}
	.wp-block-group__inner-container {
		transform: translateY(0) !important;
	}
	.gp-anime-footer {
		transform: translateY(0);
	}
}

::-webkit-input-placeholder {
	color:transparent !important;
 }
 
 :-moz-placeholder { /* Firefox 18- */
	color:transparent !important; 
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
	color:transparent !important; 
 }
 
 :-ms-input-placeholder {  
	color:transparent !important;
 }

 div#gform_confirmation_message_1 {
	font-size: 24px;
	font-weight: 300;
	font-family: 'Bebas Neue',sans-serif;
	color: black;
}
